h3{
    color: white;
    background-color: black;

}
#titulo3{
    color:blue;
    background-color: gray;

}

.t4{
    color: aqua;
    background-color: beige;
}

.class1{
    color: brown;
    font-size: 34px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}