html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: absolute;
    top: -40px;
    left: -40px;
    height: 120%;
    width: 120%;
    background-image: url('unnamed.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: blur(30px);
    filter: blur(30px);
}

.card {
    position: absolute;
    border-radius: 8px;
    height: 450px;
    width: 400px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-size: cover;
}

.footer .connections .connection .icon {
    width: 40px; /* Set icon size */
    height: 40px;
    background-size: cover;
    background-position: center;
}